@media only screen and (min-width: 600px) {
  .col2 {
    margin-top: 0.5rem;
  }
  .urgent {
    place-content: center;
    padding: 2% 3%;
    width: 60%;
    margin: 0 5rem;
    margin-top: 25rem;
  }
  .request {
    width: 70%;
  }
  .mark {
    margin-top: 0%;
    padding-left: 10%;
  }

  form {
    width: 60%;
    margin-left: 5rem;
  }
}
@media only screen and (min-width: 900px) {
  body {
    font-size: 1rem;
  }
  .nav-bar {
    display: flex;
    place-content: space-around;
    background: #333;
    background-image: none;
    padding: 0.5rem 0;
    margin-top: 1rem;
  }
  .media {
    display: flex;
    padding: 0%;
    color: #fff;

    text-align: center;
  }
  .reach-out,
  .get,
  .menu,
  .sign-up {
    display: none;
  }
  .cover {
    width: 80%;
    margin-left: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  .cash {
    font-size: 3rem;
    margin-top: 0;
  }
  .bunch {
    padding: 1rem 3rem 4rem 3rem;
    font-size: 2rem;
  }
  .mockup {
    width: 100%;
    margin-top: -2rem;
    border-radius: 0;
  }
  .used-items,
  .money {
    border-radius: 5%;
    margin-left: 5%;
    width: 400px;
  }
  .money {
    top: 15rem;
    left: 12rem;
  }
  .arrow {
    left: 30rem;
    top: 8rem;
  }
  .meet {
    top: 35rem;
    margin: 0 5rem;
  }
  .image {
    width: 400px;
    right: 20rem;
  }
  .ever {
    width: 40%;
  }
  .illustration {
    top: 35rem;
    width: 80%;
    margin: 0 5rem;
  }
  .dollar {
    margin-top: 5rem;
  }
  .start {
    margin-top: 3%;
  }
  .urgent {
    margin-top: 35rem;
  }
  .privacy,
  .radar {
    margin: 10%;
  }

  .radar1 {
    padding: 0;
    margin-right: 10%;
    margin-top: 5%;
  }
  .mail,
  .reach {
    line-height: 15mm;
    padding: 0 5%;
    border-radius: 40px;
  }
  .mail {
    position: relative;
    z-index: 1;
    background: #fff;
    color: #333;
    font-style: italic;
    padding-right: 15%;
  }

  form {
    margin: 0 5rem;
    margin-top: -5%;
    width: 60%;
  }
  footer {
    margin-top: -8%;
  }
}
